/*
	HelpConnect website by 15ICE Group29
*/

* {
	margin: 0;
	font-size: 14px;
}

@font-face {
	font-family: productSans;
	src: url('../fonts/Product Sans Regular.ttf');
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: productSans;
}

::-webkit-scrollbar {
	width: 2px;
}

hr {
	margin: 0.25em 0;
}

h4 {
	font-size: 16px;
	line-height: 20px;
}

textarea.form-control {
	line-height: 16px;
}

#wrapper {
	background: #f0f0f0;
	height: auto;
	margin: 0 auto -60px;
	min-height: 100%;
	position: relative;
}

.underline {
	text-decoration: underline;
}

.loading-backdrop {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 20000!important;
}

.card {
	box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.1),
		0 3px 1px -2px rgba(0,0,0,.2), 
		0 1px 5px 0 rgba(0,0,0,.12);
}

.btn {
	line-height: 16px;
	padding: 6px 12px;
}

.form-control {
	line-height: 10px;
	height: 34px;
	margin-bottom: 10px;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.full-width {
	max-width: 100%;
	width: 100%;
}

.align-right {
	text-align: right;
}

.highlight {
	background-color: #1F77D0;
	border-radius: 3px;
	color: #ffffff;
	padding: 5px;
}

.round-button {
	border-radius: 50%;
	height: 34px;
	width: 34px;
	font-weight: bold;
	color: #9A9A9A;
}

.notification {
	position: absolute;
	background-color: #FB404B;
	text-align: center;
	border-radius: 10px;
	min-width: 18px;
	padding: 0 5px;
	height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 18px;
	top: 0px;
	left: 7px;
}

.bottom-sidebar {
	position: fixed;
	top: 100%;
	bottom: 0;
	width: 100%;
	height: auto;
	z-index: 20000 !important;
	color: #fff;
	font-weight: 200;
	overflow-y: auto;
	box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.1), 0 3px 1px -2px rgba(0,0,0,.2), 5px 1px 0 0 rgba(0,0,0,.12);
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.top-cover {
	visibility: hidden;
	position: fixed;
	z-index: 10000 !important;
	top: 0;
	bottom: 0;
	width: 100%;
	outline: none;
	background-color: rgba(0, 0, 0, 0.1);
}

.table>tbody>tr>td.seperator {
	border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.modal {
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: 60px;
}

.modal-backdrop {
	display: none;
}

.capitalized {
	text-transform: capitalize;
}

.mdl-layout__content {
	background-color: #e8e8e8;
	overflow: hidden;
}

.sidebar-wrapper {
	color: #9A9A9A;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.1), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	position: relative;
	display: block;
	min-height: 100%;
}

.sidebar .logo .simple-text {
	color: #9A9A9A;
}

.bottom-sidebar .logo .simple-text {
	color: #9A9A9A;
}

.main-panel.full-size {
	width: 100%
}

.main-panel > .content {
	padding: 15px;
	min-height: calc(100% - 20px);
}

.navbar {
	background-color: white;
	margin-bottom: 0;
}

.navbar-default .navbar-brand,
.navbar .navbar-nav > li > a [class^="fa"],
.navbar-nav p {
    color: #9A9A9A;
}

.navbar .navbar-nav > li.active {
	border-bottom: 4px solid rgb(33,150,243);
}

.navbar .navbar-nav.navbar-right {
	margin: 0;
}

.navbar .navbar-nav > li.active > a
.navbar .navbar-nav > li:hover > a {
	color: rgb(33,150,243);
}

.navbar .btn {
	margin: 10px 3px;
}

.glyph .glyph-icon {
	display: block;
	font-family: "Flaticon";
	font-size: 64px;
	line-height: 1;
}

.navbar-header .navbar-toggle [class^="fa"] {
	color: #9A9A9A;
	font-size: 19px;
	position: relative;
	line-height: 16px;
	top: 1px;
}

.navbar-toggle {
	margin: 2px;
	float: left;
}

.page-content {
	padding: 0;
}

.card .content {
	padding: 0;
}

.card.content-layout {
	margin: 20px;
	padding-bottom: 15px;
}

.fixed-btn {
	background: #1DC7EA;
	bottom: 10px;
	height: 50px;
	min-width: 50px;
	position: fixed;
	right: 10px;
	width: 50px;
	z-index: 30000 !important;
	font-size: 18px;
}

.title.title-filled {
    color: rgb(255,82,82);
}

.search-box {
	width: 100%;
}

.search-box .form-control {
	margin-bottom: 0;
}

.cate-single-item {
	background-color: #fff9da;
	cursor: pointer;
	margin-bottom: 15px;
}

.cate-single-item.active {
	background-color: #38ADB6;
	border-color: #46b8da;
}

.cate-single-item.active .title {
	color: #fff;
}

.cate-single-item .header {
	padding: 10px;
}

#tabContainer {
	display:inline-flex; 
	overflow: auto;
	width: 100%;
	cursor: pointer;
}

#tabContainer::-webkit-scrollbar {
	display: none;
}

/* enable absolute positioning */

.inner-addon {
	position: relative;
}

/* style icon */

.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align icon */

.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 0px;
}

/* add padding  */

.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}

p.main-title {
	float: left;
}

/*  Start Screen  */
.start-screen {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/start-bg.jpg');
    background-position: center;
	background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
	width: 100%;
}

/*  Full List Container  */
.full-list-container {
	display: inline-block;
	height: auto;
	min-height: calc(100vh - 200px);
	margin-bottom: 0;
	overflow-y: scroll;
	padding: 5px;
	position: relative;
	text-align: center;
	width: 100%;
}

.full-list-container .card .header {
	line-height: 50px;
	padding: 5px;
	margin: auto;
	min-height: 50px;
}

.full-list-container .card .footer {
	line-height: 25px;
}

.horizontal-list {
	display: inline-flex;
	padding-top: 20px;
	padding-left: 20px;
	overflow: auto;
	text-align: center;
	margin: 0;
	width: 100%;
}

.horizontal-list::-webkit-scrollbar {
	display: none;
}

.horizontal-item {
	display: block;
	margin-right: 10px;
	position: relative;
	min-width: 300px;
}

.horizontal-item .card {
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('../images/start-bg.jpg');
    background-position: center;
	background-size: cover;
    height: 100%;
    position: relative;
    text-align: center;
	width: 100%;
}

.horizontal-item .card h3, .horizontal-item .card h4 {
	color: white;
}

.horizontal-item .card .footer {
	line-height: 25px;
}

.dish-single-item {
	background-color: #e3f5f6;
	cursor: pointer;
	margin: 5px auto;
	padding: 10px 5px;
	min-height: 60px;
	position: relative;
}

.dish-single-item.active {
	background-color: #38ADB6;
	border-color: #46b8da;
	color: white;
}

.dish-single-item.active h4 {
	color: white;
}

/*  Edit Item Container  */
.edit-container {
	margin-left: 15px;
	padding: 0 10px 10px;
	width: 300px;
}

.edit-container.order-detail {
	min-height: 300px;
}

.edit-container.card .footer {
	font-size: 14px;
	margin-top: 30px;
}

.edit-container .form-control.group-label {
	margin: 5px auto;
}

.edit-container .form-control.remove-btn {
	background-color: #999;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

@media (max-width: 991px) {
	.navbar-nav {
			margin: 1px 0;
			display: inline-flex;
			float: none !important;
	}

	.navbar-header {
    float: right;
	}

	
}

.single-order {
	outline: none;
	width: 100%;
}

.single-order.active {
	box-shadow: 0 0 0 1px rgba(0, 132, 255, 0.6), 0 3px 1px -2px rgba(0, 132, 255, 0.5), 0 1px 5px 0 rgba(0, 132, 255,.4);
}
