<div class="sidebar" id="navigation-editor" ng-swipe-right="toggleNavbar()">
	<!-- Right drawer Order Detail-->
	<div class="sidebar-wrapper">
		<div class="logo" style="text-align: center;">
			<button ng-class="{'btn-success': !isSending, 'btn-warning': isSending}" type="submit"
				class="btn btn-fill pull-left hidden-lg hidden-md" ng-disabled="isDisable" on-long-press="stopSending()"
				ng-click="sendOrder()" ng-cloak>{{sendTitle}}</button>
			<button type="submit" class="btn btn-info btn-fill pull-right hidden-lg hidden-md"
				ng-click="printBill()">Receipt</button>
			<a class="simple-text">
				{{context.title}}
			</a>
			Staff: {{thisOrder.staffname}}
		</div>

		<div class="col-md-4 col-xs-4">
			<label>Table</label>
			<select class="capitalized form-control" ng-model="thisOrder.orderno" ng-disabled="thisOrder.type !== 'dine in'"
				ng-options="table as table for table in rangeOf(52)" required>
			</select>
		</div>

		<div class="col-md-5 col-xs-5">
			<label>Position</label>
			<select class="capitalized form-control" ng-model="thisOrder.orderside" ng-disabled="thisOrder.type !== 'dine in'">
				<option value=""></option>
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
				<option value="D">D</option>
			</select>
		</div>

		<div class="col-md-3 col-xs-3">
			<label>Extra</label>
			<button class="form-control capitalized col-md-12 col-xs-12" ng-disabled="thisOrder.orderno == 0"
				ng-class="{'btn-info btn-fill': thisOrder.addition == 1}" ng-click="extraDish()">+
			</button>
		</div>

		<div class="col-md-6 col-xs-6" style="margin-bottom: 5px;">
			<button class="btn capitalized col-md-12 col-xs-12" ng-class="{'btn-info btn-fill': thisOrder.type === 'dine in'}"
				ng-click="changeType('dine in')">Dine-in
			</button>
		</div>

		<div class="col-md-6 col-xs-6" ng-if="orderType.takeaway == 'on'" style="margin-bottom: 5px;">
			<button class="btn capitalized col-md-12 col-xs-12" ng-class="{'btn-info btn-fill': thisOrder.type === 'TA'}"
				ng-click="changeType('TA')">T.A
			</button>
		</div>

		<div class="col-md-4 col-xs-4" ng-if="orderType.uber == 'on'" style="margin-bottom: 5px;">
			<button class="btn capitalized col-md-12 col-xs-12" ng-class="{'btn-info btn-fill': thisOrder.type === 'uber'}"
				ng-click="changeType('uber')">Uber
			</button>
		</div>

		<div class="col-md-4 col-xs-4" ng-if="orderType.deliveroo == 'on'" style="margin-bottom: 5px;">
			<button class="btn capitalized col-md-12 col-xs-12"
				ng-class="{'btn-info btn-fill': thisOrder.type === 'deliveroo'}" ng-click="changeType('deliveroo')">Dlivroo
			</button>
		</div>

		<div class="col-md-4 col-xs-4" ng-if="orderType.menulog == 'on'" style="margin-bottom: 5px;">
			<button class="btn capitalized col-md-12 col-xs-12" ng-class="{'btn-info btn-fill': thisOrder.type === 'menulog'}"
				ng-click="changeType('menulog')">Mnlog
			</button>
		</div>

		<div class="col-md-4 col-xs-4" ng-if="orderType.booking == 'on'" style="margin-bottom: 5px;">
			<button class="btn capitalized col-md-12 col-xs-12" ng-class="{'btn-info btn-fill': thisOrder.type === 'booking'}"
				ng-click="changeType('booking')">Book
			</button>
		</div>

		<div class="row col-md-12 col-xs-12" style="margin: auto; margin-top: 5px;">
			<input ng-model="thisOrder.description" class="form-control capitalized" type="text"
				placeholder="Add A Note">
				<!-use-keyboard="US International"-->
		</div>

		<div class="form-group" style="min-height: 300px;">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Amount</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dish in thisOrder.dishes">
						<td class="capitalized" ng-click="selectDish(dish, 'old')">
							<span ng-class="{'underline': dish.type === 'entree'}">
								{{dish.subname}}
							</span>
							<span ng-repeat="size in dish.sizes">
								<a ng-if="size.amount > 0">({{size.amount}}{{size.name}})</a>
							</span>
							<a ng-if="dish.type === 'TA'">(TA)</a>
							<a ng-if="dish.type === 'later'">(Later)</a>
							<br />
							<span ng-repeat="opt in dish.options">
								<a ng-if="opt.selected == 1">* {{opt.name}} <br /></a>
							</span>
							<span ng-repeat="ing in dish.ingredient">
								<a ng-if="ing.amount <= 0">o̲ {{ing.name}} <br /></a>
								<a ng-if="ing.amount > 1 && ing.unit === 'none'">
									* {{ing.name}} <br />
								</a>
								<a ng-if="ing.amount > 1 && ing.unit === ''">
									+ {{ing.name}} <br />
								</a>
								<a ng-if="dish.amount == 1 && ing.amount > 1 && ing.unit === 'cost'">
									+ ${{(ing.amount - 1) * ing.price}} {{ing.name}} <br />
								</a>
								<a ng-if="dish.amount > 1 && ing.amount > 1 && ing.unit === 'cost'">
									+ ${{(ing.amount - 1)/dish.amount * ing.price}} {{ing.name}} / each <br />
								</a>
								<a ng-if="ing.amount > 1 && ing.unit === 'amount'">
									+ {{(ing.amount - 1)}} {{ing.name}} <br />
								</a>
								<a ng-if="ing.amount > 1 && ing.unit === 'change'">
									<!--Check--> * {{ing.name}} <br />
								</a>
							</span>
						</td>
						<td>
							<input ng-model="dish.amount" disabled class="form-control" style="max-width: 55px;"
								type="number" min="1" required>
						</td>
						<td>
							<input ng-model="dish.cost" class="form-control" style="width: 55px;" type="number"
								required>
						</td>
						<td>
							<button class="form-control close" style="opacity: 0.9;"
								ng-click="thisOrder.dishes.splice($index, 1)">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div class="footer">
			<a>
				<h4 class="pull-right" style="margin: 0;">TOTAL: ${{totalCost()}} </h4>
			</a>
		</div>
	</div>
</div>

<div class="top-cover" id="top-cover" ng-click="closeTopCover()">
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fixed-add-btn"
		ng-click="closeCustom()" ng-cloak>
		<i class="material-icons">add_circle</i>
	</button>
</div>

<div class="bottom-sidebar" id="navigation-custom">
	<div class="sidebar-wrapper">
		<div class="form-group">
			<div class="col-md-6 col-xs-10">
				<input ng-model="thisDish.name" class="form-control capitalized" type="text"
					placeholder="Enter {{thisItem.type || 'Item'}} Name">
			</div>

			<div class="col-md-6 col-xs-12">
				<button class="btn capitalized" style="margin: 0 2px"
					ng-class="{'btn-info btn-fill': size.selected == 1}" ng-repeat="size in thisDish.sizes"
					ng-click="changeSize(size)">{{size.name}}
				</button>
				<div style="display: inline-flex">
					<button class="form-control round-button"
						ng-click="thisDish.amount = thisDish.amount - 1">-</button>
					<input type="number" min="0" ng-model="thisDish.amount"
						class="form-control group-label" style="width: 50px; margin: 0 5px;" placeholder="0">
						<!-- use-keyboard="Numbers"-->
					<button class="form-control round-button"
						ng-click="thisDish.amount = thisDish.amount + 1">+</button>
				</div>
			</div>

			<div class="col-md-6 col-xs-12">
				<div class="form-control capitalized" style="height: auto;" ng-if="thisDish.options.length > 1">
					<button class="btn capitalized" style="margin: 2px;" ng-repeat="opt in thisDish.options"
						ng-class="{'btn-info btn-fill': opt.selected == 1}" ng-click="changeOption(opt)">
						{{opt.name}} | ${{opt[thisSize.name]}}
					</button>
				</div>
			</div>

			<div class="col-md-6 col-xs-12">
				<div class="form-control capitalized" style="height: auto;" ng-if="thisDish.ingredient.length > 1">
					<button class="btn capitalized" style="margin: 2px;" ng-repeat="ing in thisDish.ingredient"
						ng-class="{'btn-info btn-fill': ing.amount > 0}" on-long-press="ing.amount = -1"
						ng-dblclick="ing.amount = 0" ng-click="ing.amount = ing.amount + 1">
						<span ng-if="ing.amount > 1 && ing.unit !== 'cost' && ing.unit !== 'amount'">
							+
						</span>
						<span ng-if="ing.amount > 1 && ing.unit === 'cost'">
							+ ${{(ing.amount - 1) * ing.price}}
						</span>
						<span ng-if="ing.amount > 1 && ing.unit === 'amount'">
							+ {{(ing.amount - 1)}}
						</span>
						{{ing.name}}
					</button>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="main-panel">
	<nav class="navbar navbar-default navbar-fixed">
		<div class="container-fluid">
			<div class="navbar">
				<ul class="nav navbar-nav navbar-left" style="margin-top: 2px; text-align: center;">
					<li class="active">
						<a href="#food" ng-click="thisUrl = 'food'" class="dropdown-toggle">
							<i class="fa fa-shopping-basket"></i>
							<br/>
							Order
						</a>
					</li>
					<li>
						<a href="#order" ng-click="thisUrl = 'order'" class="dropdown-toggle">
							<i class="fa fa-credit-card-alt"></i>
							<br/>
							Payment
						</a>
					</li>
					<li>
						<a href="#stock" ng-click="thisUrl = 'stock'" class="dropdown-toggle">
							<i class="fa fa-cutlery"></i>
							<br/>
							Menu
						</a>
					</li>
					<li>
						<a href="#setting" ng-click="thisUrl = 'setting'" class="dropdown-toggle">
							<i class="fa fa-sliders"></i>
							<br/>
							Setting
						</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<button ng-class="{'btn-success': !isSending, 'btn-warning': isSending}" type="submit" class="btn btn-fill"
							ng-disabled="isDisable" on-long-press="stopSending()" ng-click="sendOrder()"
							ng-cloak>{{sendTitle}}</button>
					</li>
					<li>
						<button type="submit" class="btn btn-info btn-fill" ng-click="printBill()">Receipt</button>
					</li>
					<li>
						<button type="submit" class="btn btn-danger btn-fill" ng-click="exit()">Exit</button>
					</li>
					<li class="separator hidden-lg"></li>
				</ul>
			</div>
		</div>
	</nav>

	<div ng-init="loadData()">
		<div class="card content-layout">
			<div class="header">
				<div class="inner-addon right-addon search-box">
					<input class="form-control" type="text" ng-model="searchText" placeholder="Search Dish">
					<i class="glyphicon glyphicon-search"></i>
				</div>
			</div>
			<br />

			<!--<div class="full-list-container">
			<div class="col-xs-3 col-md-2" style="padding: 5px;" ng-repeat="cate in cateList track by $index" ng-cloak>
				<div class="card dish-single-item" style="margin: 0; padding: 2px; min-height: 40px;"
					ng-class="{'active': cate.id == thisCate.id}" ng-click="selectCate(cate)">
					<div class="header">
						<h4 class="title capitalized" ng-bind="cate.name"></h4>
					</div>
				</div>
			</div>
		</div>-->

			<ul class="nav nav-tabs" id="tabContainer">
				<li id="tabItem1" class="active" on-long-press="dragSelect(1)">
					<a data-toggle="tab" data-target="#menu" class="capitalized" ng-click="selectCate(cateList[0].id)"
						ng-bind="cateList[0].name"></a>
				</li>
				<li ng-attr-id="{{'tabItem' + cate.indexno}}" ng-if="$index > 0"
					ng-repeat="cate in cateList | orderBy: indexno: false">
					<a data-toggle="tab" data-target="#menu" class="capitalized" style="white-space: nowrap"
						ng-click="selectCate(cate.id)" ng-bind="cate.name"></a>
				</li>
			</ul>

			<div class="tab-content" ng-swipe-left="toggleNavbar()">
				<div id="menu" class="tab-pane fade in active">
					<div class="content">
						<div class="full-list-container">
							<div class="card dish-single-item col-xs-6 col-md-2 mdl-shadow--2dp"
								ng-class="{'active': dish.id == thisDish.id}"
								ng-repeat="dish in filterDishList(thisOrder.type) | filter: search | orderBy: name" ng-click="selectDish(dish, 'new')"
								data-toggle="collapse" data-target="#navigation-editor" ng-cloak>
								<div class="header">
									<h4 class="title capitalized" ng-bind="dish.name"></h4>
								</div>
								<hr>
								<div class="footer capitalized">
									<div ng-repeat="size in dish.sizes track by $index">
										<i class="text-info" style="font-weight: bold" ng-repeat="price in size.prices" ng-if="$parent.$index == 0">{{price}}
											<span ng-if="$index+1 < size.prices.length">-</span>
										</i>
										<i class="text-danger" style="font-weight: bold" ng-repeat="price in size.prices" ng-if="$parent.$index == 1">{{price}}
											<span ng-if="$index+1 < size.prices.length">-</span>
										</i>
										<i class="text-warning" style="font-weight: bold" ng-repeat="price in size.prices" ng-if="$parent.$index == 2">{{price}}
											<span ng-if="$index+1 < size.prices.length">-</span>
										</i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fixed-btn"
	ng-click="openDetail()" ng-cloak>
	<span ng-bind="totalAmount()"></span>
</button>

<div class="modal fade" id="tableModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button class="btn btn-danger btn-fill" style="float: right;" data-dismiss="modal" aria-label="Close"
					ng-click="closeOrder()" ng-cloak>
					Close
				</button>
				<h5 class="modal-title" id="tableModalTitle">Select Table</h5>
			</div>
			<div class="modal-body full-list-container" style="display: inline-block;">
				<div class="col-xs-6 col-md-3" style="margin-top: 10px;"
					ng-repeat="order in orderList | filter: orderFilter | orderBy: [sortNumber,'-time']">
					<div class="card single-order" ng-class="{'active': order.id == tempOrder.id}" ng-cloak>
						<div class="header">
							<button class="btn btn-success btn-fill" style="float: right; margin: 0 3px;"
								ng-click="mergeOrder(order)" ng-cloak>
								Merge
							</button>
							<h3 class="title capitalized" ng-if="order.type === 'dine in'">
								{{order.orderno}}{{order.orderside[0]}}</h3>
							<h3 class="title capitalized" ng-if="order.type === 'TA'">{{order.type}}</h3>
							<h3 class="title capitalized" ng-if="order.type === 'uber'">{{order.description}}</h3>
							<h4 class="title capitalized" ng-if="order.type !== 'uber'">{{order.description}}</h4>
						</div>
						<div class="content">
							<div style="text-align: left; padding: 0 10px;" ng-repeat="dish in order.dishes">
								<span>{{dish.amount}} x {{dish.name}} {{dish.size}}</span>
							</div>
							<div style="text-align: left; padding: 0 10px;" ng-if="order.dishes.length < 3">
								<span><br /></span>
							</div>
							<div style="text-align: left; padding: 0 10px;" ng-if="order.dishes.length < 3">
								<span><br /></span>
							</div>
							<div style="text-align: left; padding: 0 10px;" ng-if="order.dishes.length < 2">
								<span><br /></span>
							</div>
							<div style="text-align: left; padding: 0 10px;" ng-if="order.dishes.length == 3">
								<span><br /></span>
							</div>

							<div class="footer capitalized">
								<hr>
								<div class="stats">
									{{order.time | date: "MMM dd, y | HH:mm"}}
								</div>
								<br />
								<a>TOTAL: ${{order.total}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>