<div class="sidebar">
	<div class="sidebar-wrapper">
		<div class="logo">
			<button type="submit" ng-if="context.title === 'edit'" class="btn btn-success btn-fill pull-left capitalized"
				ng-click="copyItem()">Copy</button>
			<button type="submit" ng-if="context.title === 'edit'" class="btn btn-danger btn-fill pull-right capitalized"
				ng-click="delete()">Delete</button>
			<a class="simple-text">
				{{context.title}} {{thisItem.type}}
			</a>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<label>Name</label>
				<input ng-model="thisItem.name" class="form-control capitalized" type="text" use-keyboard="US International"
					placeholder="Enter {{thisItem.type || 'Item'}} Name" required>
			</div>

			<div class="col-md-12" ng-if="context.submit === 'create'">
				<label>Type</label>
				<select class="capitalized form-control" ng-model="thisItem.type" required>
					<option value="category">Category</option>
					<option value="dish">Dish</option>
				</select>
			</div>

			<div class="col-md-12">
				<label>Other Name</label>
				<input ng-model="thisItem.subname" class="form-control capitalized" type="text" use-keyboard="US International"
					placeholder="Enter Other Name">
			</div>

			<div class="col-md-12" ng-if="thisItem.type === 'dish'">
				<label>Category</label>
				<select class="capitalized form-control" ng-model="thisItem.cateid"
					ng-options="cate.id as cate.name for cate in cateList">
				</select>
			</div>

			<div class="col-md-12" ng-if="thisItem.type === 'dish'">
				<label>Area</label>
				<select class="capitalized form-control" ng-model="thisItem.area" required>
					<option ng-repeat="area in areaList">{{area}}</option>
				</select>
			</div>

			<div class="col-md-12">
				<label>Description</label>
				<input ng-model="thisItem.description" class="form-control capitalized" type="text"
					use-keyboard="US International" placeholder="Enter {{thisItem.type || 'Item'}} Description">
			</div>

			<div class="col-md-12 col-xs-12" ng-if="thisItem.type === 'dish'">
				<label>Size</label>
				<input type="text" ng-repeat="size in thisItem.sizes" ng-model="size.name" 
					class="form-control group-label" placeholder="Name">
			</div>

			<div class="col-md-12 col-xs-12" ng-if="thisItem.type === 'dish'">
				<button class="btn btn-info form-control capitalized col-md-12 col-xs-12" ng-click="addSize()">+Add Size</button>
			</div>

			<div class="col-md-12 col-xs-12" ng-if="thisItem.type === 'dish'">
				<label>Option</label>
			</div>

			<div class="col-md-12 col-xs-12" ng-if="thisItem.type === 'dish'" ng-repeat="opt in thisItem.options">
				<input type="text" ng-model="opt.name" class="form-control group-label" placeholder="Name">
				<div class="col-md-6 col-xs-6 no-padding" ng-repeat="size in thisItem.sizes" ng-if="thisItem.type === 'dish'">
					<input type="number" use-keyboard="Numbers" min="0" ng-model="opt[size.name]"
						class="form-control group-label" placeholder="{{size.name}}">
				</div>
			</div>

			<div class="col-md-12 col-xs-12" ng-if="thisItem.type === 'dish'">
				<button class="btn btn-info form-control capitalized col-md-12 col-xs-12" ng-click="addOption()">+Add Option</button>
			</div>

			<div class="col-md-6 col-xs-6" ng-if="thisItem.type === 'dish'">
				<label>Ingredient</label>
				<input type="text" ng-repeat="ing in thisItem.ingredients" ng-model="ing.name" 
					class="form-control group-label" placeholder="Name">
			</div>

			<div class="col-md-6 col-xs-6" ng-if="thisItem.type === 'dish'">
				<label>Extra Price</label>
				<input type="number" use-keyboard="Numbers" min="0" ng-repeat="ing in thisItem.ingredients" ng-model="ing.price"
					class="form-control group-label" placeholder="0">
			</div>

			<div class="col-md-12 col-xs-12" ng-if="thisItem.type === 'dish'">
				<button class="btn btn-info form-control capitalized col-md-12 col-xs-12" ng-click="addIngredient()">+Add Ingredient</button>
			</div>

		</div>

		<div class="footer">
			<button type="submit" ng-if="context.title === 'edit'" class="btn btn-info btn-fill pull-right capitalized"
				ng-click="update()">{{context.submit}}</button>
			<button type="submit" ng-if="context.title === 'new'" class="btn btn-info btn-fill pull-right capitalized"
				ng-click="create()">{{context.submit}}</button>
		</div>
	</div>
</div>

<div class="main-panel">
	<nav class="navbar navbar-default navbar-fixed">
		<div class="container-fluid">
			<div class="navbar">
				<ul class="nav navbar-nav navbar-left" style="margin-top: 2px; text-align: center;">
					<li>
						<a href="#food" ng-click="thisUrl = 'food'" class="dropdown-toggle">
							<i class="fa fa-shopping-basket"></i>
							<br/>
							Order
						</a>
					</li>
					<li>
						<a href="#order" ng-click="thisUrl = 'order'" class="dropdown-toggle">
							<i class="fa fa-credit-card-alt"></i>
							<br/>
							Payment
						</a>
					</li>
					<li class="active">
						<a href="#stock" ng-click="thisUrl = 'stock'" class="dropdown-toggle">
							<i class="fa fa-cutlery"></i>
							<br/>
							Menu
						</a>
					</li>
					<li>
						<a href="#setting" ng-click="thisUrl = 'setting'" class="dropdown-toggle">
							<i class="fa fa-sliders"></i>
							<br/>
							Setting
						</a>
					</li>
				</ul>

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-editor">
						<i class="fa fa-wpforms	hidden-lg hidden-md"></i>
					</button>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<button type="submit" class="btn btn-danger btn-fill" ng-click="exit()">Exit</button>
					</li>
					<li class="separator hidden-lg"></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="card content-layout" ng-init="loadData()">
		<div class="header">
			<p class="title main-title">Menu Management</p>
			<div class="inner-addon right-addon search-box">
				<input class="form-control" use-keyboard="US International" type="text" ng-model="searchText"
					placeholder="Search Dish">
				<i class="glyphicon glyphicon-search"></i>
			</div>
		</div>
		<br />
		<br />

		<ul class="nav nav-tabs" style="display:inline-flex; overflow: auto; width: 100%">
			<li class="active">
				<a href="" data-toggle="tab" data-target="#menu" class="capitalized" ng-click="selectCate(cateList[0].id)"
					ng-bind="cateList[0].name"></a>
			</li>
			<li ng-if="$index > 0" ng-repeat="cate in cateList track by $index">
				<a href="" data-toggle="tab" data-target="#menu" class="capitalized" ng-click="selectCate(cate.id)" style="white-space: nowrap" ng-bind="cate.name"></a>
			</li>
			<li>
				<a href="" data-toggle="tab" data-target="#ingredient" class="capitalized" style="white-space: nowrap" ng-click="selectCate('extra')">Extra List</a>
		</ul>

		<div class="tab-content">
			<div id="menu" class="tab-pane fade in active">
				<div class="content">
					<div class="full-list-container">
						<div class="card dish-single-item col-xs-4 col-md-2 mdl-shadow--2dp navbar-toggle"
							ng-class="{'active': dish.id == thisDish.id}"
							ng-repeat="dish in dishList | filter: search | orderBy: 'name'" ng-click="selectDish(dish.id)"
							data-toggle="collapse" data-target="#navigation-editor" ng-cloak>
							<div class="header">
								<h4 class="title capitalized" ng-bind="dish.name"></h4>
							</div>
							<hr>
							<div class="footer capitalized">
								<i class="text-info" style="font-weight: bold" ng-if="dish.price['S']">{{dish.price['S']}}</i>
								<a ng-if="dish.price['M'] && dish.price['S']"> - </a>
								<i class="text-danger" style="font-weight: bold" ng-if="dish.price['M']">{{dish.price['M']}}</i>
								<a ng-if="dish.price['L'] && (dish.price['M'] || dish.price['S'])"> - </a>
								<i class="text-warning" style="font-weight: bold" ng-if="dish.price['L']">{{dish.price['L']}}</i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="ingredient" class="tab-pane fade in">
				<div class="content">
					<div class="full-list-container">
						<div class="col-md-2 col-sm-3 col-xs-6" style="text-align: left;"
							ng-repeat="ing in ingList | orderBy: 'name'" ng-cloak>
							<label>{{ing.name}}</label>
							<br />
							<div style="display: inline-flex">
								<input ng-model="ing.price" class="form-control" style="max-width: 60px; margin-right: 5px;"
									type="number" min="0">
								<select ng-model="ing.unit" class="form-control" ng-class="{'btn btn-warning active': ing.unit === ''}" style="max-width: 100px;">
									<option value=""></option>
									<option value="none">Swap</option>
									<option value="change">Change</option>
									<option value="cost">Cost</option>
									<option value="amount">Amount</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<button
				class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fixed-btn navbar-toggle"
				data-toggle="collapse" data-target="#navigation-editor" ng-click="newItem()" ng-if="isCate" ng-cloak>
				<i class="material-icons">note_add</i>
			</button>

			<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary fixed-btn"
				ng-click="saveExtra()" ng-if="!isCate" ng-cloak>
				<i class="material-icons">save</i>
			</button>
		</div>
	</div>
</div>
